{% load static %}
<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>Trainer – Szachownica</title>
  <link rel="stylesheet" href="{% static 'chess_app/lib/chessboard.css' %}">
  <style>
    body{font-family:Arial;text-align:center;margin:40px;background:#f4f4f4}
    #board{width:480px;max-width:95vw;margin:30px auto}
  </style>
</head>
<body>
  <h1>Welcome, Student!</h1>
  <a href="{% url 'logout' %}">Logout</a>

  <div id="board"></div>
  <div id="board"></div>
    <div style="max-width:480px;margin:20px auto;text-align:left;">
    <p><strong>Status:</strong> <span id="status"></span></p>
    <p><strong>FEN:</strong> <span id="fen"></span></p>
    <p><strong>PGN:</strong> <span id="pgn"></span></p>
  </div>

  <script src="{% static 'chess_app/lib/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'chess_app/lib/chess.min.js' %}"></script>
  <script src="{% static 'chess_app/lib/chessboard.js' %}"></script>



  <script>
  function pieceTheme(piece) {
    return "{% static 'chess_app/img/chesspieces/wikipedia/' %}" + piece + ".png";
  }

  var board = null;
  var game = new Chess();
  var $status = $('#status');
  var $fen = $('#fen');
  var $pgn = $('#pgn');

  function onDragStart (source, piece, position, orientation) {
    if (game.game_over()) return false;

    if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
        (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
      return false;
    }
  }

  function onDrop (source, target) {
    var move = game.move({
      from: source,
      to: target,
      promotion: 'q' // na razie zawsze hetman
    });

    if (move === null) return 'snapback';

    updateStatus();
  }

  function onSnapEnd () {
    board.position(game.fen());
  }

  function updateStatus () {
    var status = '';

    var moveColor = game.turn() === 'w' ? 'White' : 'Black';

    if (game.in_checkmate()) {
      status = 'Game over, ' + moveColor + ' is in checkmate.';
    } else if (game.in_draw()) {
      status = 'Game over, drawn position';
    } else {
      status = moveColor + ' to move';
      if (game.in_check()) {
        status += ', ' + moveColor + ' is in check';
      }
    }

    $status.html(status);
    $fen.html(game.fen());
    $pgn.html(game.pgn());
  }

  $(function () {
    board = Chessboard('board', {
      draggable: true,
      position: 'start',
      pieceTheme: pieceTheme,
      onDragStart: onDragStart,
      onDrop: onDrop,
      onSnapEnd: onSnapEnd
    });

    $(window).on('resize', board.resize);

    updateStatus();
  });
</script>

</body>
</html>
