{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <title>Trainer – Szachownica</title>
    <link rel="stylesheet" href="{% static 'chess_app/lib/chessboard.css' %}" />

    <style>
      body {
        font-family: Arial;
        text-align: center;
        margin: 40px;
        background: #f4f4f4;
      }
      #board {
        width: 480px;
        max-width: 95vw;
        margin: 30px auto;
      }
    </style>
  </head>
  <body>
    <h1>Welcome, Student!</h1>
    <a href="{% url 'logout' %}">Logout</a>

    <h2 id="task-counter"></h2>

    <div id="board"></div>

    <div style="max-width: 480px; margin: 20px auto; text-align: left">
      <!-- <p><strong>Status:</strong> <span id="status"></span></p>
      <p><strong>FEN:</strong> <span id="fen"></span></p>
      <p><strong>PGN:</strong> <span id="pgn"></span></p> -->
      <p id="result" style="font-size: 18px; font-weight: bold"></p>
    </div>

    <script src="{% static 'chess_app/lib/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'chess_app/lib/chess.min.js' %}"></script>
    <script src="{% static 'chess_app/lib/chessboard.js' %}"></script>

    <script>
      window.POSITIONS = {{ positions_json|safe }};
    </script>

    <script src="{% static 'chess_app/js/student.js' %}"></script>
  </body>
</html>
